{% extends "base.twig" %}

{% block body_class %}about
{% endblock %}

{% block content %}

<section id="project">
	<div class="container-fluid">
                <div id="projectTitle" class="reveal-left"><span>
				Skuadra

				</span>	</div>
				<div class="row">
					<div class="col">
										<h3 class="my-4 display1" id="title">Team</h3>
					</div>
				</div>

		<div class="row reveal2" id="teamdiv">
			<div class="col-md-3 mt-5 pt-5 teamcol	">
				<img src="{{site.theme.link}}/dist/img/armando.jpg" class="img-fluid">
<p>Armando Dibra</p>
<p>Chief Executive Officer</p>
			</div>
			<div class="col-md-3 mt-5 pt-5 teamcol	">
				<img src="{{site.theme.link}}/dist/img/black-white-girl-square.jpg" class="img-fluid">
<p>Paolo Reçi</p>
<p>Chief Financial Officer</p>
			</div>
			<div class="col-md-3 mt-5 pt-5 teamcol	">
				<img src="{{site.theme.link}}/dist/img/eb57735a.jpeg" class="img-fluid">
<p>Arian Kapllanaj</p>
<p>FullStack Developer</p>
			</div>
			<div class="col-md-3 mt-5 pt-5 teamcol	">
				<img src="{{site.theme.link}}/dist/img/1558364448355.jpeg" class="img-fluid">
<p>Adri Levendi</p>
<p>FullStack Developer</p>
			</div>
<div class="col-md-3 mt-5 pt-5 teamcol	">
				<img src="{{site.theme.link}}/dist/img/ergys.jpg" class="img-fluid">
<p>Ergys Meta</p>
<p>Social Media Expert</p>
			</div>
		</div>

	</div>
</section>


{% endblock %}

{% block scripts %}
	<script>
	var tl = gsap.timeline();
// gsap
// .timeline({ delay: 1 }) // More readable to put it here
// .add('start') // Use a label to sync screen and content animation
// .to(loadingScreen, {
//   duration: 0.5,
//   scaleY: 0,
//   skewX: 0,
//   transformOrigin: 'top left',
//   ease: 'power1.out'
// }, 'start')
// .to(loadingScreen, { duration: .5, scaleY: 1, transformOrigin: 'bottom left'});
tl.from('#projectTitle',{x:-160, delay:0.2, opacity:0.3, duration:1.2, stagger:0.2});
tl.from('.reveal2',{y:60, opacity:0, delay:0.5, duration:0.4, stagger:0.3});


	</script>
{% endblock %}