{% extends "base.twig" %}

{% block body_class %}home
{% endblock %}

{% block content %}
	<div id="scrollContent">
		<section id="hero" class="slide-item">
			<img src="{{site.theme.link}}/dist/img/big-ellipse-black.svg" id="bigCiricleIntro"/>

			<div class="container-fluid mt-5">
				<div class="row ">
					<div class="col-md-6 pt-4 mt-2 offset-md-1">
						<h1 class="display3 gray normal">Ne zhvillojmë</h1>
					</div>
					<div class="col-md-4 offset-md-1">
						<img src="{{site.theme.link}}/dist/img/paralel-lines-pink.svg">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mt-2 offset-md-1">
						<div id="paintRect" class="graphic-rect">
							<div id="paintRectShape" class="graphic-rect--shape"></div>
							<img id="paintRectImage" class="graphic-rect--image" src="{{site.theme.link}}/dist/img/paintboard.png" alt="web-design">
						</div>
					</div>
					<div class="col-md-4 offset-md-1 mt-5 pt-5">
						<div id="qualitiesList" class="mt-4">
							<h3 class="display3 mb-3 black bold">creative</h3>
							<h3 class="display3 mb-3 black bold">passionate</h3>
							<h3 class="display3 mb-3 black bold">joyful</h3>
							<h3 class="display3 mb-3 pink bold">excellent.</h3>
						</div>

					</div>
				</div>

			</div>
		</section>
		<section id="develop" class="slide-item">
			<div class="container-fluid mt-5">
				<div class="row d-md-flex d-none">
					<div class="col-md-12 ">
						<img class="pl-2 ml-3" src="{{site.theme.link}}/dist/img/pink-parallel-horizontal-lines-1half.svg">
					</div>
				</div>
				<div class="row ">
					<div class="col-md-5 offset-md-1">
						<div class="graphic-rect" id="developRect">
							<div class="graphic-rect--shape"></div>
							<img class="graphic-rect--image" src="{{site.theme.link}}/dist/img/keyboard-and-mouse.png" alt="develop">
						</div>
					</div>

					<div class="col-md-6">
						<h3 class="display1" id="title">develop</h3>

						<p class="mt-5 pt-5 p">
							Integer ullamcorper congue massa, ultrices maximus elit fringilla id. SuspendisseInteger ullamcorper congue massa, ultrices maximus elit fringilla id. Suspendisse potenti. Nulla ullamcorper dui nec metus consectetur, id placerat erat.</p>
					</div>
				</div>
				<img id="developRectDots" src="{{site.theme.link}}/dist/img/rect-dots-pink.svg">


			</div>
		</section>
		<div class="mt-5 pt-5"></div>
		<div class="mb-5 pb-5"></div>
		<section id="design" class="slide-item">
			<div class="container-fluid mt-5">

				<div class="row ">
					<div class="col-md-6">
						<div id="designGraphic">
							<div id="designGraphicRect"></div>
							<div id="designGraphicCircle"></div>
							<div id="designGraphicLines">
								<hr class="pink-line">
								<hr class="pink-line">
							</div>
							<img id="designGraphicScreenshot1" src="{{site.theme.link}}/dist/img/screenshot-black.jpg" alt="" class="img-fluid">
							<img id="designGraphicScreenshot2" src="{{site.theme.link}}/dist/img/screenshot-black-1.png" alt="" class="img-fluid">
						</div>
					</div>

					<div class="col-md-6">
						<h3 class="display1" id="title">design</h3>

						<p class="mt-5 pt-5 p px-md-5">
							Integer ullamcorper congue massa, ultrices maximus elit fringilla id. Suspendisse potenti. Nulla ullamcorper dui nec metus consectetur, id placerat erat lobortis. Integer porttitor volutpat augue, quis ornare quam mollis et. Phasellus ac gravida massa. Nam nec rutrum purus, non efficitur lacus. Nunc lorem nisi, hendrerit sed tortor in, aliquam aliquam dolor. Duis quis accumsan magna.</p>
					</div>
				</div>
				<img id="developRectDots" src="{{site.theme.link}}/dist/img/rect-dots-pink.svg">
			</div>
		</section>

		<section id="works">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 d-md-flex justify-content-between">
						<div class="work text-md-left text-center">
							<div class="work__wrapper">
								<div class="work__image">
									<img src="{{site.theme.link}}/dist/img/wall_ART.jpg">
								</div>
								<div class="work__title">
									<h5>Guzzle</h5>
								</div>
							</div>
							<div class="graphic-divider">
								<svg id="graphic1" width="229" height="93" viewbox="0 0 229 93" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="2" y="46.7317" width="44.7316" height="44.7316" transform="rotate(-90 2 46.7317)" fill="#2B2024"/>
									<path d="M46.7316 46.7317H2L46.7316 2.00005V46.7317Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="2" y="91.4627" width="44.7316" height="44.7316" transform="rotate(-90 2 91.4627)" fill="#2B2024"/>
									<rect x="227" y="46.7316" width="44.7316" height="44.7316" transform="rotate(90 227 46.7316)" fill="#2B2024"/>
									<path d="M182.269 46.7316L227 46.7316L182.269 91.4633L182.269 46.7316Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="227" y="2" width="44.7316" height="44.7316" transform="rotate(90 227 2)" fill="#2B2024"/>
									<rect x="137.537" y="46.7317" width="44.7316" height="44.7316" fill="#2B2024"/>
									<path d="M137.537 91.4633V46.7317L182.269 91.4633L137.537 91.4633Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="137.537" y="2.4473" width="44.7316" height="44.7316" fill="#FD0054"/>
									<path d="M137.537 47.1789V2.4473L182.269 47.1789L137.537 47.1789Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="92.3584" y="46.7316" width="44.7316" height="44.7316" fill="#2B2024"/>
								</svg>
								<div class="e graphic-divider__line"></div>


								<svg id="graphic2" width="229" height="93" viewbox="0 0 229 93" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="2" y="46.7317" width="44.7316" height="44.7316" transform="rotate(-90 2 46.7317)" fill="#2B2024"/>
									<path d="M46.7316 46.7317H2L46.7316 2.00008V46.7317Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="2" y="91.4627" width="44.7316" height="44.7316" transform="rotate(-90 2 91.4627)" fill="#2B2024"/>
									<rect x="227" y="46.7317" width="44.7316" height="44.7316" transform="rotate(90 227 46.7317)" fill="#2B2024"/>
									<path d="M182.269 46.7317L227 46.7317L182.269 91.4633L182.269 46.7317Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="227" y="2.00003" width="44.7316" height="44.7316" transform="rotate(90 227 2.00003)" fill="#2B2024"/>
									<rect x="137.537" y="46.7317" width="44.7316" height="44.7316" fill="#2B2024"/>
									<path d="M137.537 91.4633V46.7317L182.269 91.4633L137.537 91.4633Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="137.537" y="2.44733" width="44.7316" height="44.7316" fill="#FD0054"/>
									<path d="M137.537 47.179V2.44733L182.269 47.179L137.537 47.179Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="92.3584" y="46.7317" width="44.7316" height="44.7316" fill="#2B2024"/>
								</svg>
							</div>
						</div>


						<div class="work">
							<div class="work__wrapper">
								<div class="work__image">
									<img src="{{site.theme.link}}/dist/img/IT-equipment.jpg">
								</div>
								<div class="work__title">
									<h5>John Doe Services</h5>
								</div>
							</div>
							<div class="graphic-divider">
								<svg id="graphic3" width="225" height="90" viewbox="0 0 225 90" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="46.2324" y="46.2315" width="44.7316" height="43.7316" transform="rotate(-90 46.2324 46.2315)" fill="#2B2024"/>
									<path d="M89.9641 46.2315L46.2324 46.2315L89.9641 1.49984V46.2315Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="89.4639" y="44.7315" width="43.7316" height="44.7316" transform="rotate(90 89.4639 44.7315)" fill="#2B2024"/>
									<path d="M44.7322 44.7315L89.4639 44.7315L44.7322 88.4632L44.7322 44.7315Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect x="134.643" y="44.7315" width="44.7316" height="43.7316" transform="rotate(180 134.643 44.7315)" fill="#2B2024"/>
								</svg>


								<div class=" graphic-divider__line"></div>
								<svg id="graphic4" width="91" height="227" viewbox="0 0 91 227" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="44.7314" y="1.99997" width="44.7316" height="44.7316" fill="#2B2024"/>
									<path d="M44.7314 46.7316L44.7314 1.99997L89.4631 46.7316L44.7314 46.7316Z" fill="#FFFFFF" stroke="#FFFFFF"/>
									<rect y="2.00037" width="44.7316" height="44.7316" fill="#2B2024"/>
									<rect x="44.7314" y="91.463" width="44.7316" height="44.7316" transform="rotate(-90 44.7314 91.463)" fill="#2B2024"/>
									<path d="M89.4631 91.463L44.7314 91.463L89.4631 46.7314L89.4631 91.463Z" fill="#FFFFFF"/>
									<rect x="0.447266" y="91.463" width="44.7316" height="44.7316" transform="rotate(-90 0.447266 91.463)" fill="#FD0054"/>
									<rect x="44.7314" y="136.642" width="44.7316" height="44.7316" transform="rotate(-90 44.7314 136.642)" fill="#2B2024"/>
								</svg>


							</div>
						</div>


						<div class="work">
							<div class="work__wrapper">
								<div class="work__image">
									<img src="{{site.theme.link}}/dist/img/black-white-girl.jpg">
								</div>
								<div class="work__title">
									<h5>Ana Voltana</h5>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

{% endblock %}
