{# {% set options  = %} #}
{# {{ dump(options) }} #}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 border-col py-md-4">
			<img src="{{site.theme.link}}/dist/img/bonnle-logo-light.svg" alt="bonnle-logo">
			<p class="mt-3 pt-3">Komuna e Parisit<br> Rr. Medar Shtylla Nr.13<br> Tiranë, Albania</p>
			<p class="mt-3 pt-3">
				<a href="tel:+355694031716">+355694031716</a>
			</p>
			<p class="mt-3 pt-3">
				<a href="mailto:hello@bonnle.al">hello@bonnle.al</a>
			</p>
		</div>

		<div class="col-md-9 py-md-4  mt-md-3">
			<div class="row">
				<div class="col-md-4 offset-md-1 mt-5 mt-md-0">
					<p class="font-weight-bold">Quick Links</p>
					<ul class=" list-unstyled mt-4">
						<li id="menuItem1" class="mb-2 pb-1"><a href="{{site.link}}">Home</a></li>
			<li id="menuItem2" class="mb-2 pb-1"><a href="{{site.link}}/#works">Projects</a></li>
			<li id="menuItem3"><a href="{{site.link}}/#cta">Contact</a></li>
					</ul>
				</div>
                <div class="col-md-4  mt-5 mt-md-0">
					<p class="font-weight-bold">Legal</p>
					<ul class=" list-unstyled mt-4">
						<li class="mb-2 pb-1">
							<a href="{{site.link}}/terms-and-conditions">Terms & Conditions</a>
						</li>
						<li>
							<a href="{{site.link}}/privacy-policy">Privacy Policy</a>
						</li>
						
					</ul>
				</div>
				<div class="col3">
					<ul class="list-unstyled" id="langSwitcherWrapper">
						<li id="langswitcher">
							{% if menu %}
								<ul class="nav d-flex">
								{% for item in langmenu.get_items %}

									<li class="{{ item.classes | join(' ') }} nav__item 
									{{ item.lang == locale ? 'order-0' : 'order-1' }}
									">
										<a class="nav__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
										{% include "menu.twig" with {'items': item.children} %}
									</li>
							{% endfor %}
								</ul>
							{% endif %}

							{# {{ dmp(langmenu.get_items) }} #}
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

</div>
