<div class="navbar-wrapper">
	<nav class="navbar">
		<div class="navbar__brand">
			<a href="{{ site.link }}">
				{% if 'home' in post.slug %}
					<img id="headerLogo" src="{{ site.theme.link }}/assets/images/vectors/bonnle-logo-light.svg" alt="bonnle-logo">
					
				{% else %}
					<svg id="headerLogo" width="130" height="28" viewBox="0 0 130 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path id="textPath" d="M19.492 13.896C20.932 14.352 22.06 15.12 22.876 16.2C23.692 17.256 24.1 18.564 24.1 20.124C24.1 22.332 23.236 24.036 21.508 25.236C19.804 26.412 17.308 27 14.02 27H0.988V1.8H13.3C16.372 1.8 18.724 2.388 20.356 3.564C22.012 4.74 22.84 6.336 22.84 8.352C22.84 9.576 22.54 10.668 21.94 11.628C21.364 12.588 20.548 13.344 19.492 13.896ZM6.784 6.192V12.132H12.58C14.02 12.132 15.112 11.88 15.856 11.376C16.6 10.872 16.972 10.128 16.972 9.144C16.972 8.16 16.6 7.428 15.856 6.948C15.112 6.444 14.02 6.192 12.58 6.192H6.784ZM13.588 22.608C15.124 22.608 16.276 22.356 17.044 21.852C17.836 21.348 18.232 20.568 18.232 19.512C18.232 17.424 16.684 16.38 13.588 16.38H6.784V22.608H13.588ZM35.3553 27.288C33.3153 27.288 31.4793 26.868 29.8473 26.028C28.2393 25.164 26.9793 23.976 26.0673 22.464C25.1553 20.952 24.6993 19.236 24.6993 17.316C24.6993 15.396 25.1553 13.68 26.0673 12.168C26.9793 10.656 28.2393 9.48 29.8473 8.64C31.4793 7.776 33.3153 7.344 35.3553 7.344C37.3953 7.344 39.2193 7.776 40.8273 8.64C42.4353 9.48 43.6953 10.656 44.6073 12.168C45.5193 13.68 45.9753 15.396 45.9753 17.316C45.9753 19.236 45.5193 20.952 44.6073 22.464C43.6953 23.976 42.4353 25.164 40.8273 26.028C39.2193 26.868 37.3953 27.288 35.3553 27.288ZM35.3553 22.68C36.7953 22.68 37.9713 22.2 38.8833 21.24C39.8193 20.256 40.2873 18.948 40.2873 17.316C40.2873 15.684 39.8193 14.388 38.8833 13.428C37.9713 12.444 36.7953 11.952 35.3553 11.952C33.9153 11.952 32.7273 12.444 31.7913 13.428C30.8553 14.388 30.3873 15.684 30.3873 17.316C30.3873 18.948 30.8553 20.256 31.7913 21.24C32.7273 22.2 33.9153 22.68 35.3553 22.68ZM59.5212 7.344C61.9212 7.344 63.8532 8.064 65.3172 9.504C66.8052 10.944 67.5492 13.08 67.5492 15.912V27H61.9332V16.776C61.9332 15.24 61.5972 14.1 60.9252 13.356C60.2532 12.588 59.2812 12.204 58.0092 12.204C56.5932 12.204 55.4652 12.648 54.6252 13.536C53.7852 14.4 53.3652 15.696 53.3652 17.424V27H47.7492V7.632H53.1132V9.9C53.8572 9.084 54.7812 8.46 55.8852 8.028C56.9892 7.572 58.2012 7.344 59.5212 7.344ZM82.4318 7.344C84.8318 7.344 86.7638 8.064 88.2278 9.504C89.7158 10.944 90.4598 13.08 90.4598 15.912V27H84.8438V16.776C84.8438 15.24 84.5078 14.1 83.8358 13.356C83.1638 12.588 82.1918 12.204 80.9198 12.204C79.5038 12.204 78.3758 12.648 77.5358 13.536C76.6958 14.4 76.2758 15.696 76.2758 17.424V27H70.6598V7.632H76.0238V9.9C76.7678 9.084 77.6918 8.46 78.7958 8.028C79.8998 7.572 81.1118 7.344 82.4318 7.344ZM93.5704 0.287998H99.1864V27H93.5704V0.287998ZM121.391 17.388C121.391 17.46 121.355 17.964 121.283 18.9H106.631C106.895 20.1 107.519 21.048 108.503 21.744C109.487 22.44 110.711 22.788 112.175 22.788C113.183 22.788 114.071 22.644 114.839 22.356C115.631 22.044 116.363 21.564 117.035 20.916L120.023 24.156C118.199 26.244 115.535 27.288 112.031 27.288C109.847 27.288 107.915 26.868 106.235 26.028C104.555 25.164 103.259 23.976 102.347 22.464C101.435 20.952 100.979 19.236 100.979 17.316C100.979 15.42 101.423 13.716 102.311 12.204C103.223 10.668 104.459 9.48 106.019 8.64C107.603 7.776 109.367 7.344 111.311 7.344C113.207 7.344 114.923 7.752 116.459 8.568C117.995 9.384 119.195 10.56 120.059 12.096C120.947 13.608 121.391 15.372 121.391 17.388ZM111.347 11.592C110.075 11.592 109.007 11.952 108.143 12.672C107.279 13.392 106.751 14.376 106.559 15.624H116.099C115.907 14.4 115.379 13.428 114.515 12.708C113.651 11.964 112.595 11.592 111.347 11.592Z" fill="#2B2024"/>
<path d="M126.03 27.288C125.134 27.288 124.366 26.984 123.726 26.376C123.086 25.736 122.766 24.936 122.766 23.976C122.766 23.048 123.086 22.28 123.726 21.672C124.366 21.032 125.134 20.712 126.03 20.712C126.926 20.712 127.678 21.016 128.286 21.624C128.894 22.232 129.198 23.016 129.198 23.976C129.198 24.936 128.878 25.736 128.238 26.376C127.63 26.984 126.894 27.288 126.03 27.288Z" fill="#FD0054"/>
</svg>

				{% endif %}
			</a>
		</div>
		{# {% include "menu.twig" with {'items': menu.get_items} %} #}
	</nav>
</div>
<div id="menuToggler">
<span class="home-bg-white"></span>
<span class="home-bg-white"></span>
</div>
<div id="sideMenu">
	<div class="wrapper">
		<ul>
			<li id="menuItem1"><a href="{{site.link}}">Home</a></li>
			<li id="menuItem2"><a href="{{site.link}}/#works">Projects</a></li>
			<li id="menuItem2"><a href="{{site.link}}/team">Team</a></li>
			<li id="menuItem3"><a href="{{site.link}}/#cta">Contact</a></li>
		</ul>
	</div>
</div>
