{% extends "base.twig" %}

{% block body_class %}projekt
{% endblock %}

{% block content %}

{% set c = post.get_field('project_content') %}
<section id="project">
	<div class="container-fluid">
                <div id="projectTitle" class="reveal-left "><span>
				{{ post.title }}
				</span>	</div>

		<div class="row">
			<div class="col-md-6 offset-md-3 mt-5 py-5">
                <div id="shape" class="reveal2 bg-{{ c.shape_color }}"></div>
				<img src="{{ c.image.url ? c.image.url : site.theme.link ~ '/dist/img/black-white-girl-square.jpg'}}" class="img-fluid reveal2" alt="xarmed-web-design-project">
				<p class="p mt-5 py-md-5 reveal2 description">
				{{c.text}}
                </p>
				<p class="p mt-5 py-md-5 reveal2">
				{% if c.cta %}
				<a href="{{c.cta.link}}" class="btn btn-primary">Go to project</a>
				{% endif %}
                </p>
			</div>
		</div>

	</div>
</section>


{% endblock %}

{% block scripts %}
	<script>
	var tl = gsap.timeline();
// gsap
// .timeline({ delay: 1 }) // More readable to put it here
// .add('start') // Use a label to sync screen and content animation
// .to(loadingScreen, {
//   duration: 0.5,
//   scaleY: 0,
//   skewX: 0,
//   transformOrigin: 'top left',
//   ease: 'power1.out'
// }, 'start')
// .to(loadingScreen, { duration: .5, scaleY: 1, transformOrigin: 'bottom left'});
tl.from('#projectTitle',{x:-160, delay:0.2, opacity:0.3, duration:1.2, stagger:0.2});
tl.from('.reveal2',{y:60, opacity:0, delay:0.5, duration:0.4, stagger:0.3});


	</script>
{% endblock %}