{% extends "tease.twig" %}

{% block content %}
			<img src="{{post.thumbnail.src ? post.thumbnail.src : site.theme.link~'/screenshot.png'}}" class="img-fluid" />
			<div class="tease-category">
			<span class="tease-category-inner">
			{{post.category.title}}</span>
			</div>

	<div class="tease-content mt-2">
		<h2 class="h2 my-3"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p>{{post.preview.length(20)}}</p>
		<div class="tease-content-bottom text-center">
		<a type="button" class="btn btn-primary mx-auto mt-4" href="{{post.link}}">{{__('READ MORE')}}</a>
			
		</div>

	</div>
	
		
{% endblock %}